@import '../../scss/variable';
@import '../../scss/mixin';

.userDetail {
    flex: 1;
    padding: 32px 12px;
    
    &Header {
        max-width: 624px;
        margin-bottom: 20px;

        &Card {
            margin-left: 20px;
            &Title {
                @include textStyle(3.2rem, $black-color, 700);
                margin-bottom: 14px;
            }

            &SubTitle {
                @include textStyle(1.8rem, $black-color, 600);
                margin-bottom: 16px;
            }

            &BtnFollow {
                background: $dark-red;
                height: 36px;
                width: 180px;
            }
        }

        &Quantity {
            margin-top: 22px;
            display: flex;

            @include mobile {
                justify-content: space-between;
            }
        }
    
        &Description {
            margin-top: 10px;
            @include textStyle(1.6rem, rgba(18, 18, 18, 1), 400);
        }
    }

    &Body {
        &Tab {
            height: 44px;
            margin-bottom: 8px;
            width: 460px;
            @include textStyle(1.8rem, rgba(18, 18, 18, 0.5), 600);
            line-height: 44px;
            display: flex;
            border-bottom: 1px solid rgba(22, 24, 35, 0.12);
            cursor: pointer;
            position: relative;
            &Item {
                height: 100%;
                
                flex: 1;
                text-align: center;
                

                &Active {
                    color: rgb(18, 18, 18);
                    border-bottom: 3px solid #333;
                }
            }
        }
    }
}

.editProfileBtn {
    border: 1px solid rgba(22, 24, 35, 0.12);
}

.userDetailBodyTabVideo:hover ~ .userDetailBodyTabBottomLine {
    transform: translateX(0px);
}

.userDetailBodyTabLiked:hover ~ .userDetailBodyTabBottomLine {
    transform: translateX(230px);
}