@import '../../../scss/variable';
@import '../../../scss/mixin';

.nav {
    margin-bottom: 8px;
    &Link {
        font-size: 1.8rem;
        font-weight: 700;
        color: $black-color;
        padding: 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;

        &Icon {
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            margin-right: 12px;
        }
        & p {
            @include tablet {
                display: none;
            }

            @include mobile{
                display: none;
            }
        }

        &Active {
            color: $dark-red;
        }
    }

    &Link:hover {
        background: $bg-hover-color;
    }
}