@import '../../scss/variable';
@import '../../scss/mixin';

.wrapper {
    @include mobile {
        width: 100%;
    }
}

.container {
    margin-top: $header-height;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}
