@import '../../scss/variable';
@import '../../scss/mixin';

.heart {
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    background: none;

    & span {
        padding: 4px;
        @include textStyle(1.2rem, $black-color, 400);

        @include mobile {
            color: #fff;
            font-size: 1.4rem;
        }
    }
}

