@import '../../scss/variable';
@import '../../scss/mixin';

.commentList {
    height: 100%;
    padding: 32px;
    background: rgb(248, 248, 248);
    overflow: hidden;
    overflow-y: scroll;
}

.commentList::-webkit-scrollbar {
    width: 8px;
    height: 50px;
}

.commentList::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(22, 24, 35, 0.12);
}

.commentList::-webkit-scrollbar-track {
    background: transparent;
}