@import '../../../scss/mixin';
@import '../../../scss/variable';

.wrapper {
    padding: 16px 0;
    position: relative;
}
.wrapper::before {
    @include horizontalLine();
}
.header {
    @include textStyle(1.4rem, $gray, 600);
    padding: 0 8px;
    margin-bottom: 8px;

    @include tablet {
        display: none;
    }

    @include mobile{
        display: none;
    }
}
.action {
    @include tablet {
        display: none;
    }

    @include mobile{
        display: none;
    }
}
.seeAll {
    padding: 0 8px;
    margin-top: 12px;
    @include textStyle(1.4rem, $dark-red, 600);
    cursor: pointer;
}

.tabletAction {
    display: none;

    padding: 8px 15px 8px 8px;
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
    color: rgba(22, 24, 35, 0.5);

    @include tablet {
        display: block;
    }

    @include mobile{
        display: block;
    }
}

//FollowingAccountItem
.user {
    position: relative;

    &Link {
        padding: 8px;
        display: flex;
        align-items: center;
    }

    &Link:hover {
        background: $bg-hover-color;
    }

    &Content {
        margin-left: 12px;

        @include tablet {
            display: none;
        }

        @include mobile{
            display: none;
        }

        &Title {
            max-width: 145px;
            @include textStyle(1.6rem, $black-color, 700);            
            line-height: 22px;
            margin-top: -3px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &Description {
            @include textStyle(1.2rem, $light-gray, 400);
            line-height: 15px;
            max-width: 145px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
    }

}
