
.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.info {
    flex: 1;
    margin-left: 12px;
    &Tiktokid {
        font-size: 1.6rem;
        font-weight: 500;
    }

    &Username {
        font-size: 1.4rem;
        color: rgba(22, 24, 35, 0.5);
        line-height: 1;
        margin-top: 6px;
    }
}




