@import '../../scss/variable';
@import '../../scss/mixin';
@import '../../scss/animation';

.modal {
    display:flex;
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: auto;
    animation: fadeIn linear 0.1s;

    &Overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    &Body {
        margin: auto;
        background: #fff;
        z-index: 99999;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        
        --growth-from: 0.7;
        --growth-to: 1;
        animation: growth linear 0.1s;
    }
}