@import '../../../scss/mixin';
@import '../../../scss/variable';

.discovery {
    padding: 16px 8px 8px;
    position: relative;

    @include tablet{
        display: none;
    }

    @include mobile{
        display: none;
    }
    
    &Header {
        @include textStyle(1.4rem, $gray, 600);
        margin-bottom: 8px;
    }
}

.discovery::before {
    @include horizontalLine();
}