@import '../../scss/variable';
@import '../../scss/mixin';

.wrapper {
    position: relative;
    height: 302px;
    width: 226px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    margin-bottom: 18px;
    background: rgb(211, 208, 208);
    overflow: hidden;
    float: left;
}

.followingItem {
    width: 100%;
    height: 100%;

    &Video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &Info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 16px;
        width: 100%;
        position: absolute;
        bottom: 0;
        cursor: pointer;

        &Description {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 8px;
        }

        &Title {
            @include textStyle(1.8rem,#fff,700);
            margin-bottom: 8px;
        }
        &SubTitle {
            @include textStyle(1.4rem,#fff,600);
        }
    }
    

    &Btn {
        min-width: 164px;
    }
}