img {
    object-fit: cover;
    cursor: pointer;
}

.avatarSmall {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.avatarSmallPlus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatarMedium {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatarLarge {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.avatarExtraLarge {
    width: 116px;
    height: 116px;
    border-radius: 50%;
}
