@import '../../scss/variable';
@import '../../scss/mixin';

.header {
    height: $header-height;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 1px 1px rgba(0, 0 , 0, 0.12);
    z-index: 1000;

    &Main {
        padding: 0 24px 0 20px;
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
