$primary-font: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;

$black-color: #161823;
$dark-red: #fe2c55;
$gray: rgba(22, 24, 35, 0.5);
$light-gray: rgba(22, 24, 35, 0.75);
$bright-turquoise: rgb(32, 213, 236);
$bg-hover-color:#eee8e8;

$header-height: 60px;
$sidebar-width: 356px;
$main-content-width: 692px;